<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.capitalize %></p>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %> - <%= review.content %>
    </li>
  <% end %>
</ul>

<h3>Add a Review</h3>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.input :content %>
  <%= f.button :submit, 'Submit Review', class: "btn btn-primary" %>
<% end %>
